{{#if posts}}
<h2>Recent Posts</h2>
<ul>
  {{#each posts}}
  <li>
    <a href="/blog/{{dataValues.id}}">{{dataValues.title}}</a>
    <p>Posted on {{formatDate dataValues.createdAt}}</p>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No posts found.</p>
{{/if}}
